html
{
	font-family: sans-serif;
	background: white;
	color: black;
}
body
{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
a:link,
a:hover,
a:visited,
a:active
{
	color: #a55;
	text-decoration: none;
}
a:hover
{
}

.socis form:before,
.contactform form:before
{
	color: #d44;
	font-weight: bold;
	text-align: center;
	content: 'No està operatiu encara';
	position: relative;
	width: 100%;
	padding: 1ex;
	margin: 1ex;
	background: white;
	-webkit-border-radius: .5em;
	   -moz-border-radius: .5em;
	        border-radius: .5em;
	-webkit-box-shadow: 2px 5px 10px rgba(1,1,0,.7);
	   -moz-box-shadow: 2px 5px 10px rgba(1,1,0,.7);
	        box-shadow: 2px 5px 10px rgba(1,1,0,.7);
	behavior: url(media/js/libs/PIE.htc);
}

form
{
	background: #555;
	color: white;
	border: 3px solid #333;
	-webkit-border-radius: .5em;
	   -moz-border-radius: .5em;
	        border-radius: .5em;
	-webkit-box-shadow: 2px 5px 10px rgba(1,1,0,.7);
	   -moz-box-shadow: 2px 5px 10px rgba(1,1,0,.7);
	        box-shadow: 2px 5px 10px rgba(1,1,0,.7);
	behavior: url(media/js/libs/PIE.htc);
}

form input,
form textarea,
form a:link,
form a:visited
{
	padding: 1ex;
	margin-left: 1ex;
	background: #ddd;
	color: black;
	border: 3px solid #333;
	-webkit-border-radius: .5em;
	   -moz-border-radius: .5em;
	        border-radius: .5em;
	behavior: url(media/js/libs/PIE.htc);
}
form textarea
{
	width: 20em;
}
form a:link,
form input[type='submit']
{
	padding: 1ex 4ex;
	
}
form input[type='submit']
{
	background-color: #bcf;
}
form input[type='submit']:hover,
form a:hover
{
	background-color: #cdf;
}
form input:focus,
form textarea:focus
{
	border: 3px solid #88a;
	background: #eee;
}

form a:link.close,
form a:visited.close
{
	content: 'X';
	display: block;
	background: black;
	color: white;
	border: 3pt solid black;
	font-weight: bold;
	position: absolute;
	top: -1.5ex;
	right: -1.5ex;
	width: 2ex;
	height: 2ex;
	padding: 0.5ex;
	vertical-align: middle;
	text-align: center;
	-webkit-border-radius: 3ex;
	   -moz-border-radius: 3ex;
	        border-radius: 3ex;
	behavior: url(media/js/libs/PIE.htc);
}


.figurewide,
.figureright,
.figureleft
{
	display:block;
	position: relative;
	clear: both;
	width: 25%;
}
.figurewide
{
	text-align: center;
	width: 90%;
	margin: auto;
}

.figureright
{
	float: right;
	margin-left: 5px;
}

.figureleft
{
	float: left;
	margin-right: 5px;
}
.fancybox:before
{
	color: white !important;
	position: absolute;
	display:inline;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 60%;
	top: 10%;
	padding: 5px;
	-webkit-border-radius: .5em;
	   -moz-border-radius: .5em;
	        border-radius: .5em;
	content: "Click per ampliar";
	background: #aaa;
	background: rgb(100, 100, 100) transparent;
	/* RGBa with 0.6 opacity */
	background: rgba(100, 100, 100, 0.5);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	behavior: url(media/js/libs/PIE.htc);
}


.figureleft:after,
.figureright:after
{
	display: block;
	clear: both;
	content: " ";
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}


/* Header */

.header
{
	min-height: 130px; /* logo_height + 1px */
}
.header .logo
{
	width: 240px;
	height: 129px; /* logo_height */
	float: left;
}
.header .logo img
{
	display: block;
}
.header .motto
{
	height: 109px; /* logo_height - 2*10px (padding) */
	padding: 10px;
	font-size: 3ex;
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

/* Navigation menu */
.topmenu
{
	padding: 0;
	width: 100%;
	text-align: center;
}
.topmenu ul
{
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	padding-left: 0;
	position:relative;
	text-align: center;
}
.topmenu ul li
{
	position: relative;
	display: inline-block;
	*display: inline; /* ie7 hacks */
	zoom: 1; /* ie7 hack */
	margin: 1ex;
	margin-right: 1%;
	margin-left: 1%;
	width: 21%; /* 100%/4 - 4*2% */
	min-width: 8em;
}
.topmenu a:link,
.topmenu a:active,
.topmenu a:visited,
.topmenu a:hover
{
	background: #aa3333;
	-webkit-border-radius: .5em;
	   -moz-border-radius: .5em;
	        border-radius: .5em;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.7);
	   -moz-box-shadow: 0 2px 4px rgba(0,0,0,.7);
	        box-shadow: 0 2px 4px rgba(0,0,0,.7);
	padding-top: 1.4ex;
	padding-bottom: 1.4ex;
	color: white;
	display: block;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 0 2px 2px rgba(0,0,0,.7);
	behavior: url(media/js/libs/PIE.htc);
}
.topmenu a:hover
{
	background: #bb4433;
	text-shadow: 0 4px 4px rgba(1,1,0,.7);
	-webkit-box-shadow: 0 2px 4px rgba(1,1,0,.7);
	   -moz-box-shadow: 0 2px 4px rgba(1,1,0,.7);
	        box-shadow: 0 2px 4px rgba(1,1,0,.7);
	behavior: url(media/js/libs/PIE.htc);
}
.topmenu a:active
{
	background: #aa4433;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.7);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.7);
	        box-shadow: 0 1px 2px rgba(0,0,0,.7);
	behavior: url(media/js/libs/PIE.htc);
}


/* Image slider */

.slider
{
	width: 90%;
	height: 40ex;
	margin: 3ex;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top:0;
	left:0;

	padding-bottom: 26.6%; /* 8:3 */
	padding-top: 25px;
	height: 0;

}

.slider .slide:before
{
	position: relative;
	width: 100%;
	height: 200%;
}

.slider .slide
{
	width: 100%;
	text-align: right;
	max-height: 100%;
	padding: 0;
	margin: 0;
	background: #222;

	overflow: hidden;
	display: none;
	position: absolute;
	top: 0;
	left: 0;

	-webkit-box-shadow: 2px 8px 16px rgba(0,0,0,.7);
	   -moz-box-shadow: 2px 8px 16px rgba(0,0,0,.7);
	        box-shadow: 2px 8px 16px rgba(0,0,0,.7);
	-webkit-border-radius: .5em;
	   -moz-border-radius: .5em;
	        border-radius: .5em;
	behavior: url(media/js/libs/PIE.htc);
}
.slider .slide img
{
	display: block;
	width: 100%;
	height: auto;
	-webkit-border-radius: .5em;
	   -moz-border-radius: .5em;
	        border-radius: .5em;
	behavior: url(media/js/libs/PIE.htc);
}

.slider .slide .slidetext
{
	position: absolute;
	font-size: 140%;
	width: 40%;
	bottom: 3ex;
	right: 3ex;
	padding: 3ex;
	background: #aaa;
	background: rgba(1,1,1,0.6);
	color: #ffe;
	text-shadow: 0 2px 2px rgba(0,0,0,.7);
	-webkit-border-radius: .5em;
	   -moz-border-radius: .5em;
	        border-radius: .5em;
	behavior: url(media/js/libs/PIE.htc);
}

.slider .slide:nth-child(odd) .slidetext
{
	left: 3ex;
	text-align: left;
}

.slider .slide .slidetext b
{
	color: #d55;
	font-weight: normal;
}

/* Highlights */

.highlights
{
	width: 92%;
	margin-left: 4%;
	margin-right: 4%;
	padding: 0;
	text-align: center;
	
}
.highlights:after
{
	display: block;
	clear: both;
	content: " ";
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}
.highlights .point
{
	display: inline-block;
	position: relative;
	text-align: left;
	margin-right: 0%;
	margin-left: 2%;
	max-width: 30.33%;
	min-width: 25ex;
	padding: 2px;
	vertical-align: top;
}
.highlights .point:first-child
{
	margin-left: 0.45%;
}

.highlights .point  h2
{
	margin-top: 2px;
}

.pmf
{
	width: 100%;
	margin: auto;
	position: relative;
}

.pmf .cards
{
	display: inline-block;
	vertical-align: top;
	margin: 0;
}

.pmf section:target ~ .cards
{
	width: 25%;
	margin: 0;
}

.pmf section
{
	display: none;
	font-size: 120%;
	width: 66%;
	margin-left: 3%;
	margin-right: 3%;
}
.pmf section:target
{
	display: inline-block;
}

.pmf section h2
{
	border-bottom: 2pt solid #883333;
}


/* Contact page */

.cards
{
	text-align: center;
	margin-right: 2%;
}
.cards .card
{
	position: relative;
	display: inline-block;
	top: 0;
	color: #bbb;
	background-color: white;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	min-width: 15em;
	height: 10em;
	width: 30%;
	margin-left:2%;
	margin-bottom: 1ex;
	-webkit-border-radius: .5em;
	   -moz-border-radius: .5em;
	        border-radius: .5em;
	-webkit-box-shadow: 2px 5px 10px rgba(1,1,0,.7);
	   -moz-box-shadow: 2px 5px 10px rgba(1,1,0,.7);
	        box-shadow: 2px 5px 10px rgba(1,1,0,.7);
	behavior: url(media/js/libs/PIE.htc);
}
.cards .card:hover
{
	-webkit-box-shadow: 2px 8px 16px rgba(1,1,0,.7);
	   -moz-box-shadow: 2px 8px 16px rgba(1,1,0,.7);
	        box-shadow: 2px 8px 16px rgba(1,1,0,.7);
	behavior: url(media/js/libs/PIE.htc);
}
.cards .card .pregunta,
.cards .card .resposta
{
	font-weight: bold;
	background: #666;
	background: rgba(80,80,80,0.9);
	position: absolute;
	top: 2ex;
	left: 3%;
	width: 90%;
	padding: 2%;
	-webkit-border-radius: .5em;
	   -moz-border-radius: .5em;
	        border-radius: .5em;
	behavior: url(media/js/libs/PIE.htc);
}
.cards .card h2
{
	color: white;
	margin: 0;
}

.cards .card:hover .pregunta,
.cards .card .resposta
{
	display: none;
}
.cards .card .pregunta,
.cards .card:hover .resposta
{
	display: block;
}
.cards .card img
{
	display: block;
	position: absolute;
	left: 0px;
	right: 0px;
	width: 100%;
}

.cards .card:hover
{
	color: #ffa;
}


.socis
{
	position: relative;
	text-align: center;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.socis .login-box
{
	display: inline-block;
	max-width: 25%;
	min-width: 20em;
	padding: 1em 2em;
	margin: 2em 0;
	text-align: center;
}
.socis .login-box .login-field
{
	text-align: right;
	margin: 1ex;
}

.socis .login-box .login-field label
{
	margin: 1em;
}

.socis .login-box #enter
{
	padding: 1ex;
	margin: 1ex;
}

.socis .explicacio
{
	display: inline-block;
	vertical-align: top;
	padding: 0em 2em;
	min-width: 10em;
	text-align: left;
}

.socis img
{
	max-width: 5em;
	max-height: 5em;
	width: 5em;
}
.socis ul
{
	margin-left: auto;
	margin-right: auto;
}
.socis ul li
{
	text-align: left;
}

.contactform:target
{
	display: block;
}

.contactform
{
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #aaa;
	background: rgba(90,90,90,0.6);
}




.contactform form
{
	position: relative;
	text-align: right;
	top: 6ex;
	min-width: 20em;
	max-width: 36em;
	padding: 2ex 4ex;
	margin-left: auto;
	margin-right: auto;
}

.contactform label
{
	display:block;
	padding: 1ex;
}

