---
title: Contacte
dades:
    - id: connectivitat
      titol: Connectivitat
      form: Demanar una prova de connectivitat
      pregunta: Vols que saber si t'arriba la Guifi.net?
      resposta: Demana'ns una prova de connectivitat sense compromís.
      imatge: media/images/connectivitat.png

    - id: pressupost
      titol: Pressupostos
      form: Demanar pressupost per una instaŀlació
      pregunta: Vols saber que costaria posar Guifi.net al teu edifici o com a particular?
      resposta: Demana'ns un pressupost per la teva finca.
      imatge: media/images/pressupost.png

    - id: dubtes
      titol: Dubtes
      form: Fer una consulta o demanar una reunió
      pregunta: Vols aclarir dubtes o rebre més informació?
      resposta: Fes-nos una consulta
      imatge: media/images/dubtes.png

    - id: diy
      titol: Fes-t'ho tu
      form: Demanar configuració per una instaŀlació independent
      pregunta: Vols muntar-t'ho tu pel teu compte?
      resposta: Pregunta'ns la configuració que has de fer servir
      imatge: media/images/diy.png

municipis:
  - group: Amb xarxa Guifibaix
    municipis:
      sjd: Sant Joan Despí
      prll: El Prat de Llobregat
      crnll: Cornellà de Llobregat
      edll: Esplugues de Llobregat
      scll: Sant Climent de Llobregat
      scc: Santa Coloma de Cervelló
      vldc: Viladecans
  - group: En prospecció
    municipis:
      tdll: Torrelles de Llobregat
      sbdl: Sant Boi de Llobregat
      sfdl: Sant Feliu de Llobregat
      svdh: Sant Vicenç dels Horts
  - group: No iniciats
    municipis:
      sjud: Sant Just Desvern
      kstf: Castelldefels
      mdr: Molins de Rei
      ppl: El Papiol
      gava: Gava
      sadb: Sant Andreu de la Barca

---
<div class='contact'>
<div class='cards'>
{% for item in resource.meta.dades %}
<a
	class='card'
	style="background-image: url('{{item.imatge}}');"
	href='#{{ item.id }}'
	>
	<div class='pregunta'><h2>{{ item.titol }}</h2>{{ item.pregunta }}</div>
	<div class='resposta'><h2>{{ item.titol }}</h2>{{ item.resposta }}</div>
</a>
{% endfor %}


{% for item in resource.meta.dades %}
<div
	class='contactform'
	id='{{ item.id }}'
	>
<form method='post' action='{{resource.meta.feedback.url}}'>
<a class='close' href='#'>X</a>
<h2>{{ item.form }}</h2>
<input name='kind' type='hidden' value='{{ item.id }}'>
<input name='yuemail' type='email' value='' style='display: none'>
<label>Nom:<input required name='nom'></label>
<label>Cognoms:<input required name='cognoms'></label>
<label>Telèfon de contacte:<input required name='telefon' type='phone'></label>
<label>Correu electrònic:<input required name='email' type='email'></label>
<label>Municipi:<select required name='municipi'>
	<option selected value=''>Selecciona municipi</option>
{% for group in resource.meta.municipis %}
	<optgroup label='{{group.group}}' >
{% for municipi in group.municipis|sort %}
	<option value='{{ municipi[0] }}'>{{ municipi[1] }}</option>
{% endfor %}
	</optgroup>
{% endfor %}
	<option value='baix'>Altre municipi del Baix Llobregat</option>
	<option value='other'>Un municipi d'una altra comarca</option>
	</select>
</label>
<label>Adreça:<textarea required rows='2' name='adreca' ></textarea></label>
<label>Comentari:<textarea rows='4' name='comentari' ></textarea></label>
<a href='#'>Canceŀla</a>
<input type='submit' value='Envia la petició' />
</form>
</div>
</div>

{% endfor %}



