---
extends: frontpage.j2
title: Inici
default_block: main
depends: /coder/frontpageslides/*slide
---

{# Image slider #}

{% set slides_dir = site.content.node_from_relative_path('frontpageslides/') %}
{% if slides_dir != None %}
<div class='slider'>
{% for slide in slides_dir.walk_resources() | sort(attribute='path') %}
{% if slide.source_file.kind == 'slide' %}

<div class='slide'>
<img src='{{ slide.meta.image }}' />
<div class='slidetext'>
{{ slide.meta.description }}
</div>
</div>
{% endif %}
{% endfor %}

</div>

{% endif %}

<article class='highlights container_12'>

<section class='point grid_4'>
<h2>Social</h2>
<p>
Volem obrir alternatives a l'oligopoli de les grans empreses de telecomunicacions i els seus abusos.
Construïm un entorn just i de coŀlaboració entre treballadors i usuaris.
</p>

</section>

<section class='point grid_4'>
<h2>Econòmic</h2>
No ens cal farcir el compte de resultats,
només cobrir costos.
Si trobem formes de reduir-los,
els beneficis es reinverteixen en millorar el servei
o es repercuteix en les quotes.
</section>

<section class='point grid_4'>
<h2>Lliure</h2>
No volem usuaris lligats.
La xarxa està basada en estàndars oberts i els equips pertanyen als usuaris.
Qualsevol pot instaŀlar o mantenir la seva part de la xarxa
o trobar a algú altre que ho faci.
</section>

</article>
