---
extends: frontpage.j2
default_block: main
depends: /coder/frontpageslides/*slide
---


{# Image slider #}

{% set slides_dir = site.content.node_from_relative_path('frontpageslides/') %}
{% if slides_dir != None %}
<div class='slider'>
{% for slide in slides_dir.walk_resources() | sort(attribute='meta.order') %}
{% if slide.source_file.kind == 'slide' %}

<figure>
<img src='{{ slide.meta.image }}' />
<figcaption>
{{ slide.meta.description | typogrify | striptags }}
</figcaption>
</figure>
{% endif %}
{% endfor %}

</div>

{% endif %}

<article class='highlights container_12'>

<section class='point grid_4'>
<h2>Social</h2>
<p>
Pretendemos ser una via de escape a los abusos
del oligopolio de las grandes telecos.
Nuestros principios son que tanto el trabajador como el usuario
tienen que tener unas condiciones justas.
</p>

</section>

<section class='point grid_4'>
<h2>Econòmico</h2>
No tenemos que hinchar ninguna cuenta de resultados,
solo cubrir los costes.
Si encontramos maneras de reducir costes,
los beneficios se reinvierten en mejorar el servicio
o se repercuten en las cuotas.
</section>

<section class='point grid_4'>
<h2>Libre</h2>
No se ata al cliente.
Cualquiera puede instalar o mantener su parte de la red
o buscar a alguien que se lo haga.
La red está basada en estandares abiertos.
</section>

</article>
