{#% extends "base.j2" %#}
<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<html>
<head>
	<meta charset="{{ resource.meta.charset }}">
	<meta name="author" content="{{ resource.meta.author }}">
	<title>{{ resource.meta.site_title }} {{
		 (" - " + resource.meta.title) if resource.meta.title }}</title>

<!--[if lt IE 8]>
	<link rel='stylesheet' href='media/css/normalize-1.1.2.css' />
<![endif]-->
<!--[if (gte IE 8)|!(IE)]><!-->
	<link rel='stylesheet' href='media/css/normalize-2.1.2.css' />
<!--<![endif]-->

	<link rel='stylesheet' href='media/css/site.css' />

<!--[if lt IE 9]>
	<script src="components/html5shiv/html5shiv.js"></script>
<![endif]-->

	<script data-main="media/js/main" src="media/js/libs/require-2.1.8.js"></script>

</head>
<body>
<header>
<div class='logo'>
	<img src="{{ resource.meta.logo }}" />
</div>
<div class='motto'>
	{{ resource.meta.motto }}
</div>
</header>
<nav>
<ul>
<li><a href="index.html">Inici</a></li>
<li><a href="pmf.html">Informació</a></li>
<li><a href="contacte.html">Contacte</a></li>
<li><a href="clients.html">Clients / Socis</a></li>
</ul>
</nav>


{% block main %}
{% endblock main %}

</body>
</html>
